settings_local.py
settings_production.py
settings_test.py
.vagrant
.idea/
*.pyc
tmp/
.DS_Store
.vagrant/
*.ipynb
.env
dumps/
settings/local.py
clone_production.sh
zefr_data/
data/
.coverage
covhtml/
.scenarios.csv
credentials.json

*.orig

clone_staging.sh
*.egg-info/
migrations/
dist/